apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: jayzebra/wtmapi:latest
          ports:
            - containerPort: 8080
          # env:
            # - name: SERVER_PORT
            #   value: "9090"
